body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  position: absolute;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #FFFCE8;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

.classSelectView {
  background-color: #FFFCE8;
  height: 100%;
  width: 100%;
  padding: 5%;
  position: absolute;
  overflow-y: scroll;
}

#container {
  margin-top: 10px;
  height: 100%
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  width: 100%;
  border-radius: 0px;
  color: black;
  background-color: #BDD09F;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

md-dialog {
  flex: 100%;
}

#textarea {
  width: 100%;
}

#observationDataEntry {
  font-size: 40px;
}

#studentNavBar {
  background-color: #BDD09F;
  height: 100%;
  width: 25%;
  position: absolute;
  padding: 50px;
  border: 5px solid #704E2E;
  overflow-y: scroll;
}

.typeButton {
  color: rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

#staffLoginLink {
  float: right;
}

img {
  height: 40%;
  width: 80%;
}

.container{
  width: 82%;
}

.logo {
  width: 55%;
  margin: 3% 20%;
  margin-left: 6%;
}

.md-sidenav-right {
  height: 100%;
  width: 20%;
  position: absolute;
}

.studentBody {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  padding-left: 25%;
  background-color: #FFFCE8;
  /* border: 10px solid #704E2E; */
}

.staffBody {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #FFFCE8;
}

.md-button.navButton {
  background-color: #4E6172;
  /* Green */
  color: white;
  min-width: 120px;
  white-space: normal;
  font-weight: bold;
  line-height: normal;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.md-button.siteButton {
  background-color: #8F3B1B;
  font-size: 18px;
  color: white;
  min-height: 100px;
  min-width: 175px;
  overflow: initial;
  line-height: normal;
  white-space: normal;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

#notes {
  font-size: 30px;
}

.odd {
  background-color: #f1f1f1;
}

.md-radio-button.classButton {
  font-size: 50px;
}

.md-button.continueButton {
  background-color: #729120;
  color: white;
  padding: 0 15px 0 15px;
  margin: 15px 20px 15px 20px;
  min-width: 500px;
  min-height: 100px;
  border-radius: 3px;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.buttomButton {
  position: absolute;
  bottom: 0.5%;
}

.md-button.classSelectButton {
  width: 70px;
  height: 30px;
  background-color: #4E6172;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.navText {
  color: #8F3B1B;
  font-weight: bold;
  font-size: 25px;
}

#backButton {
  float: left;
}

#classDataHeader {
  margin: auto;
  padding-right: 14%;
}

.siteDataBreak {
  border-right: solid;
}

.dataTableHeader {
  border-bottom: solid;
}

.speciesNotesCard {
  min-width: 80%;
}

.speciesNotesTitle {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.speciesNotesList {
  margin-left: 10px;
}

@media (min-width: 1024px) {
  .md-button.navButton {
    background-color: #4E6172;
    /* Green */
    color: white;
    min-width: 130px;
    font-size: 10px;
    white-space: normal;
    border-radius: 5px;
    border: none;
    outline: none;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 10px;
  }
  .navText {
    color: #8F3B1B;
    font-weight: bold;
    font-size: 20px;
  }
  .md-button.siteButton {
    background-color: #8F3B1B;
    font-size: 15px;
    color: white;
    min-height: 100px;
    min-width: 120px;
    overflow: initial;
    white-space: normal;
    border-radius: 25px;
    border: none;
    outline: none;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
  img {
    height: 20%;
    width: 50%;
  }
  
  .logo{
    width: 55%;
    margin: 0 0 10% 0;
  }
  .md-display-1{
    font-size: 20px;
    width: 100%
  }

}

.md-button.staffStudentButtonLogout {
  display: table-cell;
  background-color: #704E2E;
  color: white;
}

.md-button.staffStudentButtonDashboard {
  display: table-cell;
}

.loginContainer {
  width: 250px;
  height: 100px;
  background-color: #FFFCE8;
}

md-input-container.loginInput {
  width: 500px;
  font-size: 20px;
}

.md-button.classToggleButton {
  background-color: #8F3B1B;
  font-size: 18px;
  color: white;
  max-width: 140px;
  min-height: 120px;
  min-width: 100px;
  font-weight: bold;
  overflow: initial;
  white-space: normal;
  border-radius: 25px;
  border: none;
  outline: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.md-button.navButton2 {
  background-color: #704E2E;
  /* Green */
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #FCFCFC;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.md-button.selectNewClassButton {
  background-color: #704E2E;
  color: white;
  min-width: 120px;
  white-space: normal;
  font-weight: bold;
  line-height: normal;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.imageDiv {
  margin: 20%;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat #FFFCE8;
}

.staffLogo{
  width: 15%;
}
.md-button.staffButtons {
  background-color: #4E6172;
  color: white;
  border-radius: 8px;
  height: 38px;
}
.md-button.staffButtonsLogout {
  background-color: #EB9486;
  color: white;
  border-radius: 8px;
  height: 38px;
}

.md-button.deleteUser {
  background-color: #EB9486;
  color: black;
}

/* Form button styles */
.md-button.markEverythingButton {
  background-color: #4E6172;
  color: white;

}
.md-button.formResetButton {
  background-color: #EB9486;
  color: black;
}
.md-button.formCloseButton {
  background-color: #4E6172;
  color: white;
}