body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  height: 100%;
  position: absolute;
}


.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #D4CDAB;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
  height: 100%
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  width: 100%;
  border-radius: 0px;
  color: black;
  background-color: #D4CDAB
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


md-dialog {
  flex: 100%;
  }

#textarea {
  width:100%;
}

#observationDataEntry {
  font-size: 40px;
}
#studentNavBar {
  background-color: #3E5622;
  height:100%;
  width: 20%;
  position:absolute;
  padding: 50px;
  border: 5px solid #704E2E;
}
.typeButton {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

#classSelect {
  margin: auto;
  max-width: 300px;
  margin-top: 50px;
}

#staffLoginLink {
  float: right;
}

img {
  width: 60%
}

.speciesNumber {
  border: solid;
}

.logo {
  width: 40%;
  margin: 0% 25%;
}

.md-sidenav-right{
  height: 100%;
  width: 20%;
  position: absolute;
}

.studentBody{
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  padding-left: 20%;
  background-color: #FFFCE8;
  /* border: 10px solid #704E2E; */
}

.md-button.navButton{
    background-color: #AF9164; /* Green */
    color: white;
}
.md-button.siteButton{
  background-color: #818D92;
  color:white;
}

#notes {
  font-size: 30px;
}

.odd {
  background-color: #f1f1f1;
}

.md-radio-button.classButton{
  font-size: 50px;
}

.md-button.continueButton{
  background-color: #818D92;
  color:white;
  padding: 0 15px 0 15px;
  margin: 15px 20px 15px 20px;
  min-width: 200px;
  min-height: 100px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  
}

