<div ng-include="'views/partials/nav.html'"></div>
<md-button ng-href="/#dashboard" class="md-raised">
    <md-icon class="material-icons">keyboard_arrow_left</md-icon>Back
</md-button>

<div>
    <p>Plants</p>
    <md-button class="md-raised md-primary" ng-click="burData = ! burData">Bur Oak</md-button>
    <md-button class="md-raised md-primary" ng-click="buckthornData = ! buckthornData">Common Buckthorn</md-button>
    
    <p>Mammals</p>
    
    <p>Birds</p>
    <md-button class="md-raised md-primary" ng-click="darkData = ! darkData">Dark Eyed Junco</md-button>

</div>

<div ng-show="burData">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th></th>
            <th class="speciesNumber" colspan="3">Bur Oak 1</th>
            <th class="speciesNumber" colspan="3">Bur Oak 2</th>
            <th class="speciesNumber" colspan="3">Bur Oak 3</th>
        </tr>
        <tr>
            <th></th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
        </tr>
        <tr>
            <td>Breaking Leaf Buds</td>
            <td>{{dc.allBur.data[0].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBur.data[0].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBur.data[0].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.allBur.data[1].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBur.data[1].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBur.data[1].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.allBur.data[2].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBur.data[2].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBur.data[2].breaking_leaf_buds_maybe}}</td>
        </tr>
        <tr>
            <td>Leaves</td>
            <td>{{dc.allBur.data[0].leaves_yes}}</td>
            <td>{{dc.allBur.data[0].leaves_no}}</td>
            <td>{{dc.allBur.data[0].leaves_maybe}}</td>
            <td>{{dc.allBur.data[1].leaves_yes}}</td>
            <td>{{dc.allBur.data[1].leaves_no}}</td>
            <td>{{dc.allBur.data[1].leaves_maybe}}</td>
            <td>{{dc.allBur.data[2].leaves_yes}}</td>
            <td>{{dc.allBur.data[2].leaves_no}}</td>
            <td>{{dc.allBur.data[2].leaves_maybe}}</td>
        </tr>
        <tr>
            <td>Increasing Leaf Size</td>
            <td>{{dc.allBur.data[0].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBur.data[0].increasing_leaf_size_no}}</td>
            <td>{{dc.allBur.data[0].increasing_leaf_size_maybe}}</td>
            <td>{{dc.allBur.data[1].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBur.data[1].increasing_leaf_size_no}}</td>
            <td>{{dc.allBur.data[1].increasing_leaf_size_maybe}}</td>
            <td>{{dc.allBur.data[2].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBur.data[2].increasing_leaf_size_no}}</td>
            <td>{{dc.allBur.data[2].increasing_leaf_size_maybe}}</td>
        </tr>
        <tr>
            <td>Colored Leaves</td>
            <td>{{dc.allBur.data[0].colored_leaves_yes}}</td>
            <td>{{dc.allBur.data[0].colored_leaves_no}}</td>
            <td>{{dc.allBur.data[0].colored_leaves_maybe}}</td>
            <td>{{dc.allBur.data[1].colored_leaves_yes}}</td>
            <td>{{dc.allBur.data[1].colored_leaves_no}}</td>
            <td>{{dc.allBur.data[1].colored_leaves_maybe}}</td>
            <td>{{dc.allBur.data[2].colored_leaves_yes}}</td>
            <td>{{dc.allBur.data[2].colored_leaves_no}}</td>
            <td>{{dc.allBur.data[2].colored_leaves_maybe}}</td>
        </tr>

        <tr>
            <td>Falling Leaves</td>
            <td>{{dc.allBur.data[0].falling_leaves_yes}}</td>
            <td>{{dc.allBur.data[0].falling_leaves_no}}</td>
            <td>{{dc.allBur.data[0].falling_leaves_maybe}}</td>
            <td>{{dc.allBur.data[1].falling_leaves_yes}}</td>
            <td>{{dc.allBur.data[1].falling_leaves_no}}</td>
            <td>{{dc.allBur.data[1].falling_leaves_maybe}}</td>
            <td>{{dc.allBur.data[2].falling_leaves_yes}}</td>
            <td>{{dc.allBur.data[2].falling_leaves_no}}</td>
            <td>{{dc.allBur.data[2].falling_leaves_maybe}}</td>
        </tr>

        <tr>
            <td>Flowers or Flower Buds</td>
            <td>{{dc.allBur.data[0].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBur.data[0].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBur.data[0].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.allBur.data[1].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBur.data[1].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBur.data[1].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.allBur.data[2].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBur.data[2].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBur.data[2].flowers_or_flower_buds_maybe}}</td>
        </tr>

        <tr>
            <td>Open Flowers</td>
            <td>{{dc.allBur.data[0].open_flowers_yes}}</td>
            <td>{{dc.allBur.data[0].open_flowers_no}}</td>
            <td>{{dc.allBur.data[0].open_flowers_maybe}}</td>
            <td>{{dc.allBur.data[1].open_flowers_yes}}</td>
            <td>{{dc.allBur.data[1].open_flowers_no}}</td>
            <td>{{dc.allBur.data[1].open_flowers_maybe}}</td>
            <td>{{dc.allBur.data[2].open_flowers_yes}}</td>
            <td>{{dc.allBur.data[2].open_flowers_no}}</td>
            <td>{{dc.allBur.data[2].open_flowers_maybe}}</td>
        </tr>

        <tr>
            <td>Pollen Release</td>
            <td>{{dc.allBur.data[0].pollen_release_yes}}</td>
            <td>{{dc.allBur.data[0].pollen_release_no}}</td>
            <td>{{dc.allBur.data[0].pollen_release_maybe}}</td>
            <td>{{dc.allBur.data[1].pollen_release_yes}}</td>
            <td>{{dc.allBur.data[1].pollen_release_no}}</td>
            <td>{{dc.allBur.data[1].pollen_release_maybe}}</td>
            <td>{{dc.allBur.data[2].pollen_release_yes}}</td>
            <td>{{dc.allBur.data[2].pollen_release_no}}</td>
            <td>{{dc.allBur.data[2].pollen_release_maybe}}</td>
        </tr>

        <tr>
            <td>Fruits</td>
            <td>{{dc.allBur.data[0].fruits_yes}}</td>
            <td>{{dc.allBur.data[0].fruits_no}}</td>
            <td>{{dc.allBur.data[0].fruits_maybe}}</td>
            <td>{{dc.allBur.data[1].fruits_yes}}</td>
            <td>{{dc.allBur.data[1].fruits_no}}</td>
            <td>{{dc.allBur.data[1].fruits_maybe}}</td>
            <td>{{dc.allBur.data[2].fruits_yes}}</td>
            <td>{{dc.allBur.data[2].fruits_no}}</td>
            <td>{{dc.allBur.data[2].fruits_maybe}}</td>
        </tr>

        <tr>
            <td>Ripe Fruits</td>
            <td>{{dc.allBur.data[0].ripe_fruits_yes}}</td>
            <td>{{dc.allBur.data[0].ripe_fruits_no}}</td>
            <td>{{dc.allBur.data[0].ripe_fruits_maybe}}</td>
            <td>{{dc.allBur.data[1].ripe_fruits_yes}}</td>
            <td>{{dc.allBur.data[1].ripe_fruits_no}}</td>
            <td>{{dc.allBur.data[1].ripe_fruits_maybe}}</td>
            <td>{{dc.allBur.data[2].ripe_fruits_yes}}</td>
            <td>{{dc.allBur.data[2].ripe_fruits_no}}</td>
            <td>{{dc.allBur.data[2].ripe_fruits_maybe}}</td>
        </tr>
        <tr>
            <td>Recent Fruit or Seed Drop</td>
            <td>{{dc.allBur.data[0].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBur.data[0].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBur.data[0].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.allBur.data[1].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBur.data[1].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBur.data[1].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.allBur.data[2].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBur.data[2].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBur.data[2].recent_fruit_or_seed_drop_maybe}}</td>
        </tr>


    </table>
    Notes
    <ul ng-repeat="note in dc.allBur.notes">
        <li>{{note.notes}}</li>
    </ul>
</div>

<div ng-show="buckthornData">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th></th>
            <th class="speciesNumber" colspan="3">Common allBuckthorn 1</th>
            <th class="speciesNumber" colspan="3">Common allBuckthorn 2</th>
            <th class="speciesNumber" colspan="3">Common allBuckthorn 3</th>
        </tr>
        <tr>
            <th></th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
        </tr>
        <tr>
            <td>Breaking Leaf Buds</td>
            <td>{{dc.allBuckthorn.data[0].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[0].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[1].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].breaking_leaf_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].breaking_leaf_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[2].breaking_leaf_buds_maybe}}</td>
        </tr>
        <tr>
            <td>Leaves</td>
            <td>{{dc.allBuckthorn.data[0].leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[0].leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[1].leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[2].leaves_maybe}}</td>
        </tr>
        <tr>
            <td>Increasing Leaf Size</td>
            <td>{{dc.allBuckthorn.data[0].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].increasing_leaf_size_no}}</td>
            <td>{{dc.allBuckthorn.data[0].increasing_leaf_size_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].increasing_leaf_size_no}}</td>
            <td>{{dc.allBuckthorn.data[1].increasing_leaf_size_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].increasing_leaf_size_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].increasing_leaf_size_no}}</td>
            <td>{{dc.allBuckthorn.data[2].increasing_leaf_size_maybe}}</td>
        </tr>
        <tr>
            <td>Colored Leaves</td>
            <td>{{dc.allBuckthorn.data[0].colored_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].colored_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[0].colored_leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].colored_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].colored_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[1].colored_leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].colored_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].colored_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[2].colored_leaves_maybe}}</td>
        </tr>
    
        <tr>
            <td>Falling Leaves</td>
            <td>{{dc.allBuckthorn.data[0].falling_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].falling_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[0].falling_leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].falling_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].falling_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[1].falling_leaves_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].falling_leaves_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].falling_leaves_no}}</td>
            <td>{{dc.allBuckthorn.data[2].falling_leaves_maybe}}</td>
        </tr>
    
        <tr>
            <td>Flowers or Flower Buds</td>
            <td>{{dc.allBuckthorn.data[0].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[0].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[1].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].flowers_or_flower_buds_no}}</td>
            <td>{{dc.allBuckthorn.data[2].flowers_or_flower_buds_maybe}}</td>
        </tr>
    
        <tr>
            <td>Open Flowers</td>
            <td>{{dc.allBuckthorn.data[0].open_flowers_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].open_flowers_no}}</td>
            <td>{{dc.allBuckthorn.data[0].open_flowers_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].open_flowers_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].open_flowers_no}}</td>
            <td>{{dc.allBuckthorn.data[1].open_flowers_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].open_flowers_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].open_flowers_no}}</td>
            <td>{{dc.allBuckthorn.data[2].open_flowers_maybe}}</td>
        </tr>
    
        <tr>
            <td>Fruits</td>
            <td>{{dc.allBuckthorn.data[0].fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[0].fruits_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[1].fruits_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[2].fruits_maybe}}</td>
        </tr>
    
        <tr>
            <td>Ripe Fruits</td>
            <td>{{dc.allBuckthorn.data[0].ripe_fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].ripe_fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[0].ripe_fruits_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].ripe_fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].ripe_fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[1].ripe_fruits_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].ripe_fruits_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].ripe_fruits_no}}</td>
            <td>{{dc.allBuckthorn.data[2].ripe_fruits_maybe}}</td>
        </tr>
        <tr>
            <td>Recent Fruit or Seed Drop</td>
            <td>{{dc.allBuckthorn.data[0].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBuckthorn.data[0].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBuckthorn.data[0].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.allBuckthorn.data[1].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBuckthorn.data[1].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBuckthorn.data[1].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.allBuckthorn.data[2].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.allBuckthorn.data[2].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.allBuckthorn.data[2].recent_fruit_or_seed_drop_maybe}}</td>
        </tr>
    
    
    </table>
    
</div>

<div ng-show="darkData">

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th></th>
            <th class="speciesNumber" colspan="3">Dark Eyed Junco 1</th>
            <th class="speciesNumber" colspan="3">Dark Eyed Junco 2</th>
            <th class="speciesNumber" colspan="3">Dark Eyed Junco 3</th>
        </tr>
        <tr>
            <th></th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
            <th>Y</th>
            <th>N</th>
            <th>?</th>
        </tr>
        <tr>
            <td>Active Individuals</td>
            <td>{{dc.allDark.data[0].active_individuals_yes}}</td>
            <td>{{dc.allDark.data[0].active_individuals_no}}</td>
            <td>{{dc.allDark.data[0].active_individuals_maybe}}</td>
            <td>{{dc.allDark.data[1].active_individuals_yes}}</td>
            <td>{{dc.allDark.data[1].active_individuals_no}}</td>
            <td>{{dc.allDark.data[1].active_individuals_maybe}}</td>
            <td>{{dc.allDark.data[2].active_individuals_yes}}</td>
            <td>{{dc.allDark.data[2].active_individuals_no}}</td>
            <td>{{dc.allDark.data[2].active_individuals_maybe}}</td>
        </tr>
        <tr>
            <td>Feeding</td>
            <td>{{dc.allDark.data[0].feeding_yes}}</td>
            <td>{{dc.allDark.data[0].feeding_no}}</td>
            <td>{{dc.allDark.data[0].feeding_maybe}}</td>
            <td>{{dc.allDark.data[1].feeding_yes}}</td>
            <td>{{dc.allDark.data[1].feeding_no}}</td>
            <td>{{dc.allDark.data[1].feeding_maybe}}</td>
            <td>{{dc.allDark.data[2].feeding_yes}}</td>
            <td>{{dc.allDark.data[2].feeding_no}}</td>
            <td>{{dc.allDark.data[2].feeding_maybe}}</td>
        </tr>
        <tr>
            <td>Fruit/Seed Consumption</td>
            <td>{{dc.allDark.data[0].fruit_or_seed_consumption_yes}}</td>
            <td>{{dc.allDark.data[0].fruit_or_seed_consumption_no}}</td>
            <td>{{dc.allDark.data[0].fruit_or_seed_consumption_maybe}}</td>
            <td>{{dc.allDark.data[1].fruit_or_seed_consumption_yes}}</td>
            <td>{{dc.allDark.data[1].fruit_or_seed_consumption_no}}</td>
            <td>{{dc.allDark.data[1].fruit_or_seed_consumption_maybe}}</td>
            <td>{{dc.allDark.data[2].fruit_or_seed_consumption_yes}}</td>
            <td>{{dc.allDark.data[2].fruit_or_seed_consumption_no}}</td>
            <td>{{dc.allDark.data[2].fruit_or_seed_consumption_maybe}}</td>
        </tr>
        <tr>
            <td>Insect Consumption</td>
            <td>{{dc.allDark.data[0].insect_consumption_yes}}</td>
            <td>{{dc.allDark.data[0].insect_consumption_no}}</td>
            <td>{{dc.allDark.data[0].insect_consumption_maybe}}</td>
            <td>{{dc.allDark.data[1].insect_consumption_yes}}</td>
            <td>{{dc.allDark.data[1].insect_consumption_no}}</td>
            <td>{{dc.allDark.data[1].insect_consumption_maybe}}</td>
            <td>{{dc.allDark.data[2].insect_consumption_yes}}</td>
            <td>{{dc.allDark.data[2].insect_consumption_no}}</td>
            <td>{{dc.allDark.data[2].insect_consumption_maybe}}</td>
        </tr>
    
        <tr>
            <td>Calls or Songs</td>
            <td>{{dc.allDark.data[0].calls_or_song_yes}}</td>
            <td>{{dc.allDark.data[0].calls_or_song_no}}</td>
            <td>{{dc.allDark.data[0].calls_or_song_maybe}}</td>
            <td>{{dc.allDark.data[1].calls_or_song_yes}}</td>
            <td>{{dc.allDark.data[1].calls_or_song_no}}</td>
            <td>{{dc.allDark.data[1].calls_or_song_maybe}}</td>
            <td>{{dc.allDark.data[2].calls_or_song_yes}}</td>
            <td>{{dc.allDark.data[2].calls_or_song_no}}</td>
            <td>{{dc.allDark.data[2].calls_or_song_maybe}}</td>
        </tr>
    
        <tr>
            <td>Singing Individuals</td>
            <td>{{dc.allDark.data[0].singing_individuals_yes}}</td>
            <td>{{dc.allDark.data[0].singing_individuals_no}}</td>
            <td>{{dc.allDark.data[0].singing_individuals_maybe}}</td>
            <td>{{dc.allDark.data[1].singing_individuals_yes}}</td>
            <td>{{dc.allDark.data[1].singing_individuals_no}}</td>
            <td>{{dc.allDark.data[1].singing_individuals_maybe}}</td>
            <td>{{dc.allDark.data[2].singing_individuals_yes}}</td>
            <td>{{dc.allDark.data[2].singing_individuals_no}}</td>
            <td>{{dc.allDark.data[2].singing_individuals_maybe}}</td>
        </tr>
    
        <tr>
            <td>Territorial Individuals</td>
            <td>{{dc.allDark.data[0].territorial_individuals_yes}}</td>
            <td>{{dc.allDark.data[0].territorial_individuals_no}}</td>
            <td>{{dc.allDark.data[0].territorial_individuals_maybe}}</td>
            <td>{{dc.allDark.data[1].territorial_individuals_yes}}</td>
            <td>{{dc.allDark.data[1].territorial_individuals_no}}</td>
            <td>{{dc.allDark.data[1].territorial_individuals_maybe}}</td>
            <td>{{dc.allDark.data[2].territorial_individuals_yes}}</td>
            <td>{{dc.allDark.data[2].territorial_individuals_no}}</td>
            <td>{{dc.allDark.data[2].territorial_individuals_maybe}}</td>
        </tr>
    
        <tr>
            <td>Courtship</td>
            <td>{{dc.allDark.data[0].courtship_yes}}</td>
            <td>{{dc.allDark.data[0].courtship_no}}</td>
            <td>{{dc.allDark.data[0].courtship_maybe}}</td>
            <td>{{dc.allDark.data[1].courtship_yes}}</td>
            <td>{{dc.allDark.data[1].courtship_no}}</td>
            <td>{{dc.allDark.data[1].courtship_maybe}}</td>
            <td>{{dc.allDark.data[2].courtship_yes}}</td>
            <td>{{dc.allDark.data[2].courtship_no}}</td>
            <td>{{dc.allDark.data[2].courtship_maybe}}</td>
        </tr>
    
        <tr>
            <td>Mating</td>
            <td>{{dc.allDark.data[0].mating_yes}}</td>
            <td>{{dc.allDark.data[0].mating_no}}</td>
            <td>{{dc.allDark.data[0].mating_maybe}}</td>
            <td>{{dc.allDark.data[1].mating_yes}}</td>
            <td>{{dc.allDark.data[1].mating_no}}</td>
            <td>{{dc.allDark.data[1].mating_maybe}}</td>
            <td>{{dc.allDark.data[2].mating_yes}}</td>
            <td>{{dc.allDark.data[2].mating_no}}</td>
            <td>{{dc.allDark.data[2].mating_maybe}}</td>
        </tr>
    
        <tr>
            <td>Nest Building</td>
            <td>{{dc.allDark.data[0].nest_building_yes}}</td>
            <td>{{dc.allDark.data[0].nest_building_no}}</td>
            <td>{{dc.allDark.data[0].nest_building_maybe}}</td>
            <td>{{dc.allDark.data[1].nest_building_yes}}</td>
            <td>{{dc.allDark.data[1].nest_building_no}}</td>
            <td>{{dc.allDark.data[1].nest_building_maybe}}</td>
            <td>{{dc.allDark.data[2].nest_building_yes}}</td>
            <td>{{dc.allDark.data[2].nest_building_no}}</td>
            <td>{{dc.allDark.data[2].nest_building_maybe}}</td>
        </tr>
        <tr>
            <td>Occupied Nest</td>
            <td>{{dc.allDark.data[0].occupied_nest_yes}}</td>
            <td>{{dc.allDark.data[0].occupied_nest_no}}</td>
            <td>{{dc.allDark.data[0].occupied_nest_maybe}}</td>
            <td>{{dc.allDark.data[1].occupied_nest_yes}}</td>
            <td>{{dc.allDark.data[1].occupied_nest_no}}</td>
            <td>{{dc.allDark.data[1].occupied_nest_maybe}}</td>
            <td>{{dc.allDark.data[2].occupied_nest_yes}}</td>
            <td>{{dc.allDark.data[2].occupied_nest_no}}</td>
            <td>{{dc.allDark.data[2].occupied_nest_maybe}}</td>
        </tr>
    
        <tr>
            <td>Nestlings</td>
            <td>{{dc.allDark.data[0].nestlings_yes}}</td>
            <td>{{dc.allDark.data[0].nestlings_no}}</td>
            <td>{{dc.allDark.data[0].nestlings_maybe}}</td>
            <td>{{dc.allDark.data[1].nestlings_yes}}</td>
            <td>{{dc.allDark.data[1].nestlings_no}}</td>
            <td>{{dc.allDark.data[1].nestlings_maybe}}</td>
            <td>{{dc.allDark.data[2].nestlings_yes}}</td>
            <td>{{dc.allDark.data[2].nestlings_no}}</td>
            <td>{{dc.allDark.data[2].nestlings_maybe}}</td>
        </tr>
    
        <tr>
            <td>Fledged Young</td>
            <td>{{dc.allDark.data[0].fledged_young_yes}}</td>
            <td>{{dc.allDark.data[0].fledged_young_no}}</td>
            <td>{{dc.allDark.data[0].fledged_young_maybe}}</td>
            <td>{{dc.allDark.data[1].fledged_young_yes}}</td>
            <td>{{dc.allDark.data[1].fledged_young_no}}</td>
            <td>{{dc.allDark.data[1].fledged_young_maybe}}</td>
            <td>{{dc.allDark.data[2].fledged_young_yes}}</td>
            <td>{{dc.allDark.data[2].fledged_young_no}}</td>
            <td>{{dc.allDark.data[2].fledged_young_maybe}}</td>
        </tr>
    
        <tr>
            <td>Dead Individuals</td>
            <td>{{dc.allDark.data[0].dead_individuals_yes}}</td>
            <td>{{dc.allDark.data[0].dead_individuals_no}}</td>
            <td>{{dc.allDark.data[0].dead_individuals_maybe}}</td>
            <td>{{dc.allDark.data[1].dead_individuals_yes}}</td>
            <td>{{dc.allDark.data[1].dead_individuals_no}}</td>
            <td>{{dc.allDark.data[1].dead_individuals_maybe}}</td>
            <td>{{dc.allDark.data[2].dead_individuals_yes}}</td>
            <td>{{dc.allDark.data[2].dead_individuals_no}}</td>
            <td>{{dc.allDark.data[2].dead_individuals_maybe}}</td>
        </tr>
    
        <tr>
            <td>Dead Nestlings of Fledglings</td>
            <td>{{dc.allDark.data[0].dead_nestlings_or_fledglings_yes}}</td>
            <td>{{dc.allDark.data[0].dead_nestlings_or_fledglings_no}}</td>
            <td>{{dc.allDark.data[0].dead_nestlings_or_fledglings_maybe}}</td>
            <td>{{dc.allDark.data[1].dead_nestlings_or_fledglings_yes}}</td>
            <td>{{dc.allDark.data[1].dead_nestlings_or_fledglings_no}}</td>
            <td>{{dc.allDark.data[1].dead_nestlings_or_fledglings_maybe}}</td>
            <td>{{dc.allDark.data[2].dead_nestlings_or_fledglings_yes}}</td>
            <td>{{dc.allDark.data[2].dead_nestlings_or_fledglings_no}}</td>
            <td>{{dc.allDark.data[2].dead_nestlings_or_fledglings_maybe}}</td>
        </tr>
    
        <tr>
            <td>Individuals at Feeding Station</td>
            <td>{{dc.allDark.data[0].individuals_at_feeding_station_yes}}</td>
            <td>{{dc.allDark.data[0].individuals_at_feeding_station_no}}</td>
            <td>{{dc.allDark.data[0].individuals_at_feeding_station_maybe}}</td>
            <td>{{dc.allDark.data[1].individuals_at_feeding_station_yes}}</td>
            <td>{{dc.allDark.data[1].individuals_at_feeding_station_no}}</td>
            <td>{{dc.allDark.data[1].individuals_at_feeding_station_maybe}}</td>
            <td>{{dc.allDark.data[2].individuals_at_feeding_station_yes}}</td>
            <td>{{dc.allDark.data[2].individuals_at_feeding_station_no}}</td>
            <td>{{dc.allDark.data[2].individuals_at_feeding_station_maybe}}</td>
        </tr>
    </table>
    
</div>