<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    {{dc.bur.data}}
    <thead>
        <tr>
            <th>Bur Oak</th>
            <th></th>
            <th class="speciesNumber">1</th>
            <th></th>
            <th></th>
            <th class="speciesNumber">2</th>
            <th></th>
            <th></th>
            <th class="speciesNumber">3</th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th class="dataTableHeader">Y</th>
            <th class="dataTableHeader">N</th>
            <th class="siteDataBreak dataTableHeader">?</th>
            <th class="dataTableHeader">Y</th>
            <th class="dataTableHeader">N</th>
            <th class="siteDataBreak dataTableHeader">?</th>
            <th class="dataTableHeader">Y</th>
            <th class="dataTableHeader">N</th>
            <th class="dataTableHeader">?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Breaking Leaf Buds</td>
            <td>{{dc.bur.data[0].breaking_leaf_buds_yes}}</td>
            <td>{{dc.bur.data[0].breaking_leaf_buds_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.bur.data[1].breaking_leaf_buds_yes}}</td>
            <td>{{dc.bur.data[1].breaking_leaf_buds_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].breaking_leaf_buds_maybe}}</td>
            <td>{{dc.bur.data[2].breaking_leaf_buds_yes}}</td>
            <td>{{dc.bur.data[2].breaking_leaf_buds_no}}</td>
            <td>{{dc.bur.data[2].breaking_leaf_buds_maybe}}</td>
        </tr>
        <tr>
            <td>Leaves</td>
            <td>{{dc.bur.data[0].leaves_yes}}</td>
            <td>{{dc.bur.data[0].leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].leaves_maybe}}</td>
            <td>{{dc.bur.data[1].leaves_yes}}</td>
            <td>{{dc.bur.data[1].leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].leaves_maybe}}</td>
            <td>{{dc.bur.data[2].leaves_yes}}</td>
            <td>{{dc.bur.data[2].leaves_no}}</td>
            <td>{{dc.bur.data[2].leaves_maybe}}</td>
        </tr>
        <tr>
            <td>Increasing Leaf Size</td>
            <td>{{dc.bur.data[0].increasing_leaf_size_yes}}</td>
            <td>{{dc.bur.data[0].increasing_leaf_size_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].increasing_leaf_size_maybe}}</td>
            <td>{{dc.bur.data[1].increasing_leaf_size_yes}}</td>
            <td>{{dc.bur.data[1].increasing_leaf_size_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].increasing_leaf_size_maybe}}</td>
            <td>{{dc.bur.data[2].increasing_leaf_size_yes}}</td>
            <td>{{dc.bur.data[2].increasing_leaf_size_no}}</td>
            <td>{{dc.bur.data[2].increasing_leaf_size_maybe}}</td>
        </tr>
        <tr>
            <td>Colored Leaves</td>
            <td>{{dc.bur.data[0].colored_leaves_yes}}</td>
            <td>{{dc.bur.data[0].colored_leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].colored_leaves_maybe}}</td>
            <td>{{dc.bur.data[1].colored_leaves_yes}}</td>
            <td>{{dc.bur.data[1].colored_leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].colored_leaves_maybe}}</td>
            <td>{{dc.bur.data[2].colored_leaves_yes}}</td>
            <td>{{dc.bur.data[2].colored_leaves_no}}</td>
            <td>{{dc.bur.data[2].colored_leaves_maybe}}</td>
        </tr>

        <tr>
            <td>Falling Leaves</td>
            <td>{{dc.bur.data[0].falling_leaves_yes}}</td>
            <td>{{dc.bur.data[0].falling_leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].falling_leaves_maybe}}</td>
            <td>{{dc.bur.data[1].falling_leaves_yes}}</td>
            <td>{{dc.bur.data[1].falling_leaves_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].falling_leaves_maybe}}</td>
            <td>{{dc.bur.data[2].falling_leaves_yes}}</td>
            <td>{{dc.bur.data[2].falling_leaves_no}}</td>
            <td>{{dc.bur.data[2].falling_leaves_maybe}}</td>
        </tr>

        <tr>
            <td>Flowers or Flower Buds</td>
            <td>{{dc.bur.data[0].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.bur.data[0].flowers_or_flower_buds_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.bur.data[1].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.bur.data[1].flowers_or_flower_buds_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].flowers_or_flower_buds_maybe}}</td>
            <td>{{dc.bur.data[2].flowers_or_flower_buds_yes}}</td>
            <td>{{dc.bur.data[2].flowers_or_flower_buds_no}}</td>
            <td>{{dc.bur.data[2].flowers_or_flower_buds_maybe}}</td>
        </tr>

        <tr>
            <td>Open Flowers</td>
            <td>{{dc.bur.data[0].open_flowers_yes}}</td>
            <td>{{dc.bur.data[0].open_flowers_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].open_flowers_maybe}}</td>
            <td>{{dc.bur.data[1].open_flowers_yes}}</td>
            <td>{{dc.bur.data[1].open_flowers_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].open_flowers_maybe}}</td>
            <td>{{dc.bur.data[2].open_flowers_yes}}</td>
            <td>{{dc.bur.data[2].open_flowers_no}}</td>
            <td>{{dc.bur.data[2].open_flowers_maybe}}</td>
        </tr>

        <tr>
            <td>Pollen Release</td>
            <td>{{dc.bur.data[0].pollen_release_yes}}</td>
            <td>{{dc.bur.data[0].pollen_release_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].pollen_release_maybe}}</td>
            <td>{{dc.bur.data[1].pollen_release_yes}}</td>
            <td>{{dc.bur.data[1].pollen_release_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].pollen_release_maybe}}</td>
            <td>{{dc.bur.data[2].pollen_release_yes}}</td>
            <td>{{dc.bur.data[2].pollen_release_no}}</td>
            <td>{{dc.bur.data[2].pollen_release_maybe}}</td>
        </tr>

        <tr>
            <td>Fruits</td>
            <td>{{dc.bur.data[0].fruits_yes}}</td>
            <td>{{dc.bur.data[0].fruits_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].fruits_maybe}}</td>
            <td>{{dc.bur.data[1].fruits_yes}}</td>
            <td>{{dc.bur.data[1].fruits_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].fruits_maybe}}</td>
            <td>{{dc.bur.data[2].fruits_yes}}</td>
            <td>{{dc.bur.data[2].fruits_no}}</td>
            <td>{{dc.bur.data[2].fruits_maybe}}</td>
        </tr>

        <tr>
            <td>Ripe Fruits</td>
            <td>{{dc.bur.data[0].ripe_fruits_yes}}</td>
            <td>{{dc.bur.data[0].ripe_fruits_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].ripe_fruits_maybe}}</td>
            <td>{{dc.bur.data[1].ripe_fruits_yes}}</td>
            <td>{{dc.bur.data[1].ripe_fruits_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].ripe_fruits_maybe}}</td>
            <td>{{dc.bur.data[2].ripe_fruits_yes}}</td>
            <td>{{dc.bur.data[2].ripe_fruits_no}}</td>
            <td>{{dc.bur.data[2].ripe_fruits_maybe}}</td>
        </tr>
        <tr>
            <td>Recent Fruit or Seed Drop</td>
            <td>{{dc.bur.data[0].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.bur.data[0].recent_fruit_or_seed_drop_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[0].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.bur.data[1].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.bur.data[1].recent_fruit_or_seed_drop_no}}</td>
            <td class="siteDataBreak">{{dc.bur.data[1].recent_fruit_or_seed_drop_maybe}}</td>
            <td>{{dc.bur.data[2].recent_fruit_or_seed_drop_yes}}</td>
            <td>{{dc.bur.data[2].recent_fruit_or_seed_drop_no}}</td>
            <td>{{dc.bur.data[2].recent_fruit_or_seed_drop_maybe}}</td>
        </tr>
    </tbody>



</table>

<md-card class="speciesNotesCard">
    <h3 class="speciesNotesTitle">Notes</h3>
    <ul class="speciesNotesList" ng-repeat="note in dc.bur.notes">
        <li>{{note.notes}}</li>
    </ul>
</md-card>
