
    : '',
    : '',
    : '',
    singing_individuals: '',
    territorial_individuals: '',
    courtship: '',
    mating: '',
    nest_building: '',
    occupied_nest: '',
    nestlings: '',
    fledged_young: '',
    dead_individuals: '',
    dead_nestlings_or_fledglings: '',
    individuals_at_feeding_station: '',
    notes: ''
},



<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th></th>
        <th class="speciesNumber" colspan="3">Eastern Bluebird 1</th>
        <th class="speciesNumber" colspan="3">Eastern Bluebird 2</th>
        <th class="speciesNumber" colspan="3">Eastern Bluebird 3</th>
    </tr>
    <tr>
        <th></th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
    </tr>
    <tr>
        <td>Active Individuals</td>
        <td>{{dc.eastern.data[0].active_individuals_yes}}</td>
        <td>{{dc.eastern.data[0].active_individuals_no}}</td>
        <td>{{dc.eastern.data[0].active_individuals_maybe}}</td>
        <td>{{dc.eastern.data[1].active_individuals_yes}}</td>
        <td>{{dc.eastern.data[1].active_individuals_no}}</td>
        <td>{{dc.eastern.data[1].active_individuals_maybe}}</td>
        <td>{{dc.eastern.data[2].active_individuals_yes}}</td>
        <td>{{dc.eastern.data[2].active_individuals_no}}</td>
        <td>{{dc.eastern.data[2].active_individuals_maybe}}</td>
    </tr>
    <tr>
        <td>Feeding</td>
        <td>{{dc.eastern.data[0].feeding_yes}}</td>
        <td>{{dc.eastern.data[0].feeding_no}}</td>
        <td>{{dc.eastern.data[0].feeding_maybe}}</td>
        <td>{{dc.eastern.data[1].feeding_yes}}</td>
        <td>{{dc.eastern.data[1].feeding_no}}</td>
        <td>{{dc.eastern.data[1].feeding_maybe}}</td>
        <td>{{dc.eastern.data[2].feeding_yes}}</td>
        <td>{{dc.eastern.data[2].feeding_no}}</td>
        <td>{{dc.eastern.data[2].feeding_maybe}}</td>
    </tr>
    <tr>
        <td>Fruit/Seed Consumption</td>
        <td>{{dc.eastern.data[0].fruit_seed_consumption_yes}}</td>
        <td>{{dc.eastern.data[0].fruit_seed_consumption_no}}</td>
        <td>{{dc.eastern.data[0].fruit_seed_consumption_maybe}}</td>
        <td>{{dc.eastern.data[1].fruit_seed_consumption_yes}}</td>
        <td>{{dc.eastern.data[1].fruit_seed_consumption_no}}</td>
        <td>{{dc.eastern.data[1].fruit_seed_consumption_maybe}}</td>
        <td>{{dc.eastern.data[2].fruit_seed_consumption_yes}}</td>
        <td>{{dc.eastern.data[2].fruit_seed_consumption_no}}</td>
        <td>{{dc.eastern.data[2].fruit_seed_consumption_maybe}}</td>
    </tr>
    <tr>
        <td>Insect Consumption</td>
        <td>{{dc.eastern.data[0].insect_consumption_yes}}</td>
        <td>{{dc.eastern.data[0].insect_consumption_no}}</td>
        <td>{{dc.eastern.data[0].insect_consumption_maybe}}</td>
        <td>{{dc.eastern.data[1].insect_consumption_yes}}</td>
        <td>{{dc.eastern.data[1].insect_consumption_no}}</td>
        <td>{{dc.eastern.data[1].insect_consumption_maybe}}</td>
        <td>{{dc.eastern.data[2].insect_consumption_yes}}</td>
        <td>{{dc.eastern.data[2].insect_consumption_no}}</td>
        <td>{{dc.eastern.data[2].insect_consumption_maybe}}</td>
    </tr>

    <tr>
        <td>Calls or Songs</td>
        <td>{{dc.eastern.data[0].calls_or_song_yes}}</td>
        <td>{{dc.eastern.data[0].calls_or_song_no}}</td>
        <td>{{dc.eastern.data[0].calls_or_song_maybe}}</td>
        <td>{{dc.eastern.data[1].calls_or_song_yes}}</td>
        <td>{{dc.eastern.data[1].calls_or_song_no}}</td>
        <td>{{dc.eastern.data[1].calls_or_song_maybe}}</td>
        <td>{{dc.eastern.data[2].calls_or_song_yes}}</td>
        <td>{{dc.eastern.data[2].calls_or_song_no}}</td>
        <td>{{dc.eastern.data[2].calls_or_song_maybe}}</td>
    </tr>

    <tr>
        <td>Flowers or Flower Buds</td>
        <td>{{dc.eastern.data[0].flowers_or_flower_buds_yes}}</td>
        <td>{{dc.eastern.data[0].flowers_or_flower_buds_no}}</td>
        <td>{{dc.eastern.data[0].flowers_or_flower_buds_maybe}}</td>
        <td>{{dc.eastern.data[1].flowers_or_flower_buds_yes}}</td>
        <td>{{dc.eastern.data[1].flowers_or_flower_buds_no}}</td>
        <td>{{dc.eastern.data[1].flowers_or_flower_buds_maybe}}</td>
        <td>{{dc.eastern.data[2].flowers_or_flower_buds_yes}}</td>
        <td>{{dc.eastern.data[2].flowers_or_flower_buds_no}}</td>
        <td>{{dc.eastern.data[2].flowers_or_flower_buds_maybe}}</td>
    </tr>

    <tr>
        <td>Open Flowers</td>
        <td>{{dc.eastern.data[0].open_flowers_yes}}</td>
        <td>{{dc.eastern.data[0].open_flowers_no}}</td>
        <td>{{dc.eastern.data[0].open_flowers_maybe}}</td>
        <td>{{dc.eastern.data[1].open_flowers_yes}}</td>
        <td>{{dc.eastern.data[1].open_flowers_no}}</td>
        <td>{{dc.eastern.data[1].open_flowers_maybe}}</td>
        <td>{{dc.eastern.data[2].open_flowers_yes}}</td>
        <td>{{dc.eastern.data[2].open_flowers_no}}</td>
        <td>{{dc.eastern.data[2].open_flowers_maybe}}</td>
    </tr>

    <tr>
        <td>Pollen Release</td>
        <td>{{dc.eastern.data[0].pollen_release_yes}}</td>
        <td>{{dc.eastern.data[0].pollen_release_no}}</td>
        <td>{{dc.eastern.data[0].pollen_release_maybe}}</td>
        <td>{{dc.eastern.data[1].pollen_release_yes}}</td>
        <td>{{dc.eastern.data[1].pollen_release_no}}</td>
        <td>{{dc.eastern.data[1].pollen_release_maybe}}</td>
        <td>{{dc.eastern.data[2].pollen_release_yes}}</td>
        <td>{{dc.eastern.data[2].pollen_release_no}}</td>
        <td>{{dc.eastern.data[2].pollen_release_maybe}}</td>
    </tr>

    <tr>
        <td>Fruits</td>
        <td>{{dc.eastern.data[0].fruits_yes}}</td>
        <td>{{dc.eastern.data[0].fruits_no}}</td>
        <td>{{dc.eastern.data[0].fruits_maybe}}</td>
        <td>{{dc.eastern.data[1].fruits_yes}}</td>
        <td>{{dc.eastern.data[1].fruits_no}}</td>
        <td>{{dc.eastern.data[1].fruits_maybe}}</td>
        <td>{{dc.eastern.data[2].fruits_yes}}</td>
        <td>{{dc.eastern.data[2].fruits_no}}</td>
        <td>{{dc.eastern.data[2].fruits_maybe}}</td>
    </tr>

    <tr>
        <td>Ripe Fruits</td>
        <td>{{dc.eastern.data[0].ripe_fruits_yes}}</td>
        <td>{{dc.eastern.data[0].ripe_fruits_no}}</td>
        <td>{{dc.eastern.data[0].ripe_fruits_maybe}}</td>
        <td>{{dc.eastern.data[1].ripe_fruits_yes}}</td>
        <td>{{dc.eastern.data[1].ripe_fruits_no}}</td>
        <td>{{dc.eastern.data[1].ripe_fruits_maybe}}</td>
        <td>{{dc.eastern.data[2].ripe_fruits_yes}}</td>
        <td>{{dc.eastern.data[2].ripe_fruits_no}}</td>
        <td>{{dc.eastern.data[2].ripe_fruits_maybe}}</td>
    </tr>
    <tr>
        <td>Recent Fruit or Seed Drop</td>
        <td>{{dc.eastern.data[0].recent_fruit_or_seed_drop_yes}}</td>
        <td>{{dc.eastern.data[0].recent_fruit_or_seed_drop_no}}</td>
        <td>{{dc.eastern.data[0].recent_fruit_or_seed_drop_maybe}}</td>
        <td>{{dc.eastern.data[1].recent_fruit_or_seed_drop_yes}}</td>
        <td>{{dc.eastern.data[1].recent_fruit_or_seed_drop_no}}</td>
        <td>{{dc.eastern.data[1].recent_fruit_or_seed_drop_maybe}}</td>
        <td>{{dc.eastern.data[2].recent_fruit_or_seed_drop_yes}}</td>
        <td>{{dc.eastern.data[2].recent_fruit_or_seed_drop_no}}</td>
        <td>{{dc.eastern.data[2].recent_fruit_or_seed_drop_maybe}}</td>
    </tr>


</table>
