
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th></th>
        <th class="speciesNumber" colspan="3">Ground Squirrel 1</th>
        <th class="speciesNumber" colspan="3">Ground Squirrel 2</th>
        <th class="speciesNumber" colspan="3">Ground Squirrel 3</th>
    </tr>
    <tr>
        <th></th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
        <th>Y</th>
        <th>N</th>
        <th>?</th>
    </tr>
    <tr>
        <td>Active Individuals</td>
        <td>{{dc.ground.data[0].active_individuals_yes}}</td>
        <td>{{dc.ground.data[0].active_individuals_no}}</td>
        <td>{{dc.ground.data[0].active_individuals_maybe}}</td>
        <td>{{dc.ground.data[1].active_individuals_yes}}</td>
        <td>{{dc.ground.data[1].active_individuals_no}}</td>
        <td>{{dc.ground.data[1].active_individuals_maybe}}</td>
        <td>{{dc.ground.data[2].active_individuals_yes}}</td>
        <td>{{dc.ground.data[2].active_individuals_no}}</td>
        <td>{{dc.ground.data[2].active_individuals_maybe}}</td>
    </tr>
    <tr>
        <td>Feeding</td>
        <td>{{dc.ground.data[0].feeding_yes}}</td>
        <td>{{dc.ground.data[0].feeding_no}}</td>
        <td>{{dc.ground.data[0].feeding_maybe}}</td>
        <td>{{dc.ground.data[1].feeding_yes}}</td>
        <td>{{dc.ground.data[1].feeding_no}}</td>
        <td>{{dc.ground.data[1].feeding_maybe}}</td>
        <td>{{dc.ground.data[2].feeding_yes}}</td>
        <td>{{dc.ground.data[2].feeding_no}}</td>
        <td>{{dc.ground.data[2].feeding_maybe}}</td>
    </tr>

    <tr>
        <td>Young Individuals</td>
        <td>{{dc.ground.data[0].young_individuals_yes}}</td>
        <td>{{dc.ground.data[0].young_individuals_no}}</td>
        <td>{{dc.ground.data[0].young_individuals_maybe}}</td>
        <td>{{dc.ground.data[1].young_individuals_yes}}</td>
        <td>{{dc.ground.data[1].young_individuals_no}}</td>
        <td>{{dc.ground.data[1].young_individuals_maybe}}</td>
        <td>{{dc.ground.data[2].young_individuals_yes}}</td>
        <td>{{dc.ground.data[2].young_individuals_no}}</td>
        <td>{{dc.ground.data[2].young_individuals_maybe}}</td>
    </tr>

    <tr>
        <td>Dead Individuals</td>
        <td>{{dc.ground.data[0].dead_individuals_yes}}</td>
        <td>{{dc.ground.data[0].dead_individuals_no}}</td>
        <td>{{dc.ground.data[0].dead_individuals_maybe}}</td>
        <td>{{dc.ground.data[1].dead_individuals_yes}}</td>
        <td>{{dc.ground.data[1].dead_individuals_no}}</td>
        <td>{{dc.ground.data[1].dead_individuals_maybe}}</td>
        <td>{{dc.ground.data[2].dead_individuals_yes}}</td>
        <td>{{dc.ground.data[2].dead_individuals_no}}</td>
        <td>{{dc.ground.data[2].dead_individuals_maybe}}</td>
    </tr>



</table>
