<div class="navbar">
  <!-- <div class="container" layout="column" layout-align="start center"> -->
    <img class="staffLogo" src="assets/belwin-img-only.png">
      <md-button class="staffButtons" ng-href="#/student">Student View</md-button>
      <md-button class="staffButtons" ng-href="#register">Register New Staff</md-button>
      <md-button class="staffButtons" ng-href="#user">User List</md-button>
      <md-button class="staffButtonsLogout" ng-controller="LogoutController as lc" ng-click="lc.userService.logout()">Log Out</md-button>
  </div>
</div>
