MODIFY FROM BLUEBIRD

ruby_throated_hummingbird: [{
    class: '',
    site: '1',
    active_individuals: '',
    feeding: '',
    insect_consumption: '',
    flower_visitation: '',
    calls_or_song: '',
    singing_individuals: '',
    territorial_individuals: '',
    courtship: '',
    mating: '',
    nest_building: '',
    occupied_nest: '',
    nestlings: '',
    fledged_young: '',
    dead_individuals: '',
    dead_nestlings_or_fledglings: '',
    individuals_at_feeding_station: '',
    notes: ''
},