<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th>Ruby Throated Hummingbird</th>
        <th></th>
        <th class="speciesNumber">1</th>
        <th></th>
        <th></th>
        <th class="speciesNumber">2</th>
        <th></th>
        <th></th>
        <th class="speciesNumber">3</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th class="dataTableHeader">Y</th>
        <th class="dataTableHeader">N</th>
        <th class="siteDataBreak dataTableHeader">?</th>
        <th class="dataTableHeader">Y</th>
        <th class="dataTableHeader">N</th>
        <th class="siteDataBreak dataTableHeader">?</th>
        <th class="dataTableHeader">Y</th>
        <th class="dataTableHeader">N</th>
        <th class="dataTableHeader">?</th>
    </tr>
    <tr>
        <td>Active Individuals</td>
        <td>{{dc.ruby.data[0].active_individuals_yes}}</td>
        <td>{{dc.ruby.data[0].active_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].active_individuals_maybe}}</td>
        <td>{{dc.ruby.data[1].active_individuals_yes}}</td>
        <td>{{dc.ruby.data[1].active_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].active_individuals_maybe}}</td>
        <td>{{dc.ruby.data[2].active_individuals_yes}}</td>
        <td>{{dc.ruby.data[2].active_individuals_no}}</td>
        <td>{{dc.ruby.data[2].active_individuals_maybe}}</td>
    </tr>
    <tr>
        <td>Feeding</td>
        <td>{{dc.ruby.data[0].feeding_yes}}</td>
        <td>{{dc.ruby.data[0].feeding_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].feeding_maybe}}</td>
        <td>{{dc.ruby.data[1].feeding_yes}}</td>
        <td>{{dc.ruby.data[1].feeding_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].feeding_maybe}}</td>
        <td>{{dc.ruby.data[2].feeding_yes}}</td>
        <td>{{dc.ruby.data[2].feeding_no}}</td>
        <td>{{dc.ruby.data[2].feeding_maybe}}</td>
    </tr>

    <tr>
        <td>Insect Consumption</td>
        <td>{{dc.ruby.data[0].insect_consumption_yes}}</td>
        <td>{{dc.ruby.data[0].insect_consumption_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].insect_consumption_maybe}}</td>
        <td>{{dc.ruby.data[1].insect_consumption_yes}}</td>
        <td>{{dc.ruby.data[1].insect_consumption_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].insect_consumption_maybe}}</td>
        <td>{{dc.ruby.data[2].insect_consumption_yes}}</td>
        <td>{{dc.ruby.data[2].insect_consumption_no}}</td>
        <td>{{dc.ruby.data[2].insect_consumption_maybe}}</td>
    </tr>

    <tr>
        <td>Flower Visitation</td>
        <td>{{dc.ruby.data[0].flower_visitation_yes}}</td>
        <td>{{dc.ruby.data[0].flower_visitation_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].flower_visitation_maybe}}</td>
        <td>{{dc.ruby.data[1].flower_visitation_yes}}</td>
        <td>{{dc.ruby.data[1].flower_visitation_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].flower_visitation_maybe}}</td>
        <td>{{dc.ruby.data[2].flower_visitation_yes}}</td>
        <td>{{dc.ruby.data[2].flower_visitation_no}}</td>
        <td>{{dc.ruby.data[2].flower_visitation_maybe}}</td>
    </tr>

    <tr>
        <td>Calls or Songs</td>
        <td>{{dc.ruby.data[0].calls_or_song_yes}}</td>
        <td>{{dc.ruby.data[0].calls_or_song_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].calls_or_song_maybe}}</td>
        <td>{{dc.ruby.data[1].calls_or_song_yes}}</td>
        <td>{{dc.ruby.data[1].calls_or_song_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].calls_or_song_maybe}}</td>
        <td>{{dc.ruby.data[2].calls_or_song_yes}}</td>
        <td>{{dc.ruby.data[2].calls_or_song_no}}</td>
        <td>{{dc.ruby.data[2].calls_or_song_maybe}}</td>
    </tr>

    <tr>
        <td>Singing Individuals</td>
        <td>{{dc.ruby.data[0].singing_individuals_yes}}</td>
        <td>{{dc.ruby.data[0].singing_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].singing_individuals_maybe}}</td>
        <td>{{dc.ruby.data[1].singing_individuals_yes}}</td>
        <td>{{dc.ruby.data[1].singing_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].singing_individuals_maybe}}</td>
        <td>{{dc.ruby.data[2].singing_individuals_yes}}</td>
        <td>{{dc.ruby.data[2].singing_individuals_no}}</td>
        <td>{{dc.ruby.data[2].singing_individuals_maybe}}</td>
    </tr>

    <tr>
        <td>Territorial Individuals</td>
        <td>{{dc.ruby.data[0].territorial_individuals_yes}}</td>
        <td>{{dc.ruby.data[0].territorial_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].territorial_individuals_maybe}}</td>
        <td>{{dc.ruby.data[1].territorial_individuals_yes}}</td>
        <td>{{dc.ruby.data[1].territorial_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].territorial_individuals_maybe}}</td>
        <td>{{dc.ruby.data[2].territorial_individuals_yes}}</td>
        <td>{{dc.ruby.data[2].territorial_individuals_no}}</td>
        <td>{{dc.ruby.data[2].territorial_individuals_maybe}}</td>
    </tr>

    <tr>
        <td>Courtship</td>
        <td>{{dc.ruby.data[0].courtship_yes}}</td>
        <td>{{dc.ruby.data[0].courtship_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].courtship_maybe}}</td>
        <td>{{dc.ruby.data[1].courtship_yes}}</td>
        <td>{{dc.ruby.data[1].courtship_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].courtship_maybe}}</td>
        <td>{{dc.ruby.data[2].courtship_yes}}</td>
        <td>{{dc.ruby.data[2].courtship_no}}</td>
        <td>{{dc.ruby.data[2].courtship_maybe}}</td>
    </tr>

    <tr>
        <td>Mating</td>
        <td>{{dc.ruby.data[0].mating_yes}}</td>
        <td>{{dc.ruby.data[0].mating_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].mating_maybe}}</td>
        <td>{{dc.ruby.data[1].mating_yes}}</td>
        <td>{{dc.ruby.data[1].mating_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].mating_maybe}}</td>
        <td>{{dc.ruby.data[2].mating_yes}}</td>
        <td>{{dc.ruby.data[2].mating_no}}</td>
        <td>{{dc.ruby.data[2].mating_maybe}}</td>
    </tr>

    <tr>
        <td>Nest Building</td>
        <td>{{dc.ruby.data[0].nest_building_yes}}</td>
        <td>{{dc.ruby.data[0].nest_building_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].nest_building_maybe}}</td>
        <td>{{dc.ruby.data[1].nest_building_yes}}</td>
        <td>{{dc.ruby.data[1].nest_building_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].nest_building_maybe}}</td>
        <td>{{dc.ruby.data[2].nest_building_yes}}</td>
        <td>{{dc.ruby.data[2].nest_building_no}}</td>
        <td>{{dc.ruby.data[2].nest_building_maybe}}</td>
    </tr>
    <tr>
        <td>Occupied Nest</td>
        <td>{{dc.ruby.data[0].occupied_nest_yes}}</td>
        <td>{{dc.ruby.data[0].occupied_nest_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].occupied_nest_maybe}}</td>
        <td>{{dc.ruby.data[1].occupied_nest_yes}}</td>
        <td>{{dc.ruby.data[1].occupied_nest_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].occupied_nest_maybe}}</td>
        <td>{{dc.ruby.data[2].occupied_nest_yes}}</td>
        <td>{{dc.ruby.data[2].occupied_nest_no}}</td>
        <td>{{dc.ruby.data[2].occupied_nest_maybe}}</td>
    </tr>

    <tr>
        <td>Nestlings</td>
        <td>{{dc.ruby.data[0].nestlings_yes}}</td>
        <td>{{dc.ruby.data[0].nestlings_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].nestlings_maybe}}</td>
        <td>{{dc.ruby.data[1].nestlings_yes}}</td>
        <td>{{dc.ruby.data[1].nestlings_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].nestlings_maybe}}</td>
        <td>{{dc.ruby.data[2].nestlings_yes}}</td>
        <td>{{dc.ruby.data[2].nestlings_no}}</td>
        <td>{{dc.ruby.data[2].nestlings_maybe}}</td>
    </tr>

    <tr>
        <td>Fledged Young</td>
        <td>{{dc.ruby.data[0].fledged_young_yes}}</td>
        <td>{{dc.ruby.data[0].fledged_young_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].fledged_young_maybe}}</td>
        <td>{{dc.ruby.data[1].fledged_young_yes}}</td>
        <td>{{dc.ruby.data[1].fledged_young_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].fledged_young_maybe}}</td>
        <td>{{dc.ruby.data[2].fledged_young_yes}}</td>
        <td>{{dc.ruby.data[2].fledged_young_no}}</td>
        <td>{{dc.ruby.data[2].fledged_young_maybe}}</td>
    </tr>

    <tr>
        <td>Dead Individuals</td>
        <td>{{dc.ruby.data[0].dead_individuals_yes}}</td>
        <td>{{dc.ruby.data[0].dead_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].dead_individuals_maybe}}</td>
        <td>{{dc.ruby.data[1].dead_individuals_yes}}</td>
        <td>{{dc.ruby.data[1].dead_individuals_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].dead_individuals_maybe}}</td>
        <td>{{dc.ruby.data[2].dead_individuals_yes}}</td>
        <td>{{dc.ruby.data[2].dead_individuals_no}}</td>
        <td>{{dc.ruby.data[2].dead_individuals_maybe}}</td>
    </tr>

    <tr>
        <td>Dead Nestlings of Fledglings</td>
        <td>{{dc.ruby.data[0].dead_nestlings_or_fledglings_yes}}</td>
        <td>{{dc.ruby.data[0].dead_nestlings_or_fledglings_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].dead_nestlings_or_fledglings_maybe}}</td>
        <td>{{dc.ruby.data[1].dead_nestlings_or_fledglings_yes}}</td>
        <td>{{dc.ruby.data[1].dead_nestlings_or_fledglings_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].dead_nestlings_or_fledglings_maybe}}</td>
        <td>{{dc.ruby.data[2].dead_nestlings_or_fledglings_yes}}</td>
        <td>{{dc.ruby.data[2].dead_nestlings_or_fledglings_no}}</td>
        <td>{{dc.ruby.data[2].dead_nestlings_or_fledglings_maybe}}</td>
    </tr>

    <tr>
        <td>Individuals at Feeding Station</td>
        <td>{{dc.ruby.data[0].individuals_at_feeding_station_yes}}</td>
        <td>{{dc.ruby.data[0].individuals_at_feeding_station_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[0].individuals_at_feeding_station_maybe}}</td>
        <td>{{dc.ruby.data[1].individuals_at_feeding_station_yes}}</td>
        <td>{{dc.ruby.data[1].individuals_at_feeding_station_no}}</td>
        <td class="siteDataBreak">{{dc.ruby.data[1].individuals_at_feeding_station_maybe}}</td>
        <td>{{dc.ruby.data[2].individuals_at_feeding_station_yes}}</td>
        <td>{{dc.ruby.data[2].individuals_at_feeding_station_no}}</td>
        <td>{{dc.ruby.data[2].individuals_at_feeding_station_maybe}}</td>
    </tr>
</table>

<md-card class="speciesNotesCard">
    <h3 class="speciesNotesTitle">Notes</h3>
    <ul class="speciesNotesList" ng-repeat="note in dc.ruby.notes">
        <li>{{note.notes}}</li>
    </ul>
</md-card>