<div ng-include="'views/partials/nav.html'"></div>
<md-button ng-href="/#dashboard" class="md-raised">
    <md-icon classs="material-icons">keyboard_arrow_left</md-icon>Back
</md-button>
<h1>Class Data View (Staff)</h1>
<h2>Data for class {{dc.classNum}}</h2>

<div class="row">
    Plants:
    <md-button ng-click="dc.getDetails('Bur Oak')">Bur Oak</md-button>
    <md-button ng-click="dc.getDetails('Red Oak')">Red Oak</md-button>
    <md-button ng-click="dc.getDetails('Quaking Aspen')">Quaking Aspen</md-button>
    <md-button ng-click="dc.getDetails('Common Buckthorn')">Common Buckthorn</md-button>
    <md-button ng-click="dc.getDetails('Paper Birch')">Paper Birch</md-button>
    <md-button ng-click="dc.getDetails('Milkweed')">Common Milkweed</md-button>
</div>

<div class="row">
    Mammals:
    <md-button ng-click="dc.getDetails('Ground Squirrel')">Ground Squirrel</md-button>
</div>

<div class="row">
    Birds:
    <md-button ng-click="dc.getDetails('Ruby Throated Hummingbird')">Ruby Throated Hummingbird</md-button>
    <md-button ng-click="dc.getDetails('Dark-eyed Junco')">Dark-eyed Junco</md-button>
    <md-button ng-click="dc.getDetails('Eastern Bluebird')">Eastern Bluebird</md-button>
</div>


<div ng-show="dc.showData" ng-include="'views/partials/' + dc.partial"></div>

