<div ng-include="'views/partials/nav.html'"></div>
<md-button ng-href="/#dashboard" class="md-raised">
    <md-icon classs="material-icons">keyboard_arrow_left</md-icon>Back
</md-button>
<h1>Class Data View (Staff)</h1>
<h2>Data for class {{dc.classNum}}</h2>
<div ng-repeat="data in vm.data.data" ng-if="data.leaves == 'yes'">{{data.leaves.length}}</div>
<table>
    <thead>
        <tr>
            <th>Yes</th>
            <th>No</th>
            <th>?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-if="data.leaves == 'yes'">{{data.leaves.length}}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li ng-repeat="data in vm.data.data">
        <ng-show ng-if="data.class==1">
            <p>{{data}}</p>
        </ng-show>
        </div>
</ul>
<!-- {{vm.data.data[0].class}} -->