<!-- <html manifest="offline.manifest"> -->
<div ng-include="'views/partials/nav.html'"></div>
<div ng-show="sc.appSetup" class="container" id="classSelect">
  <div>
      <p>Select a class to start exploring! Your teacher will tell you your class number</p>
  </div>
  <div>
    <form ng-submit="sc.submit()">
      

      <md-radio-group ng-model="sc.studentService.class.class">

        <md-radio-button value="Class 1">Class 1</md-radio-button>
        <md-radio-button value="Class 2">Class 2</md-radio-button>
        <md-radio-button value="Class 3">Class 3</md-radio-button>

      </md-radio-group>

      <md-button type="ng-submit" class="md-primary md-raised" >Done</md-button>

    </form>
  </div>
</div>
</html>