<div class="staffBody">
    <md-button ng-click="sc.studentService.clearLocalStorage()" ng-href="#/" class="md-raised" layout-align="start start">
        <md-icon class="material-icons">keyboard_arrow_left</md-icon>Back
    </md-button>
    <div ng-include="'views/partials/header.html'"></div>


    <div layout="column" layout-align="start center">
        <h3 class="md-display-3">Staff Login</h3>
        <br>
        <h3 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h3>
        <form ng-submit="lc.login()">
            <md-content>
                <div class="loginContainer" layout="row" layout-align="center center">
                    <md-input-container class="loginInput">
                        <label>Username</label>
                        <input aria-label="username" ng-model="lc.user.username">
                    </md-input-container>
                </div>
                <div class="loginContainer" layout="row" layout-align="center center">
                    <md-input-container class="loginInput">
                        <label>Password</label>
                        <input aria-label="password" type="password" ng-model="lc.user.password">
                    </md-input-container>
                </div>
                <div class="loginContainer" layout="row" layout-align="center center">
                    <md-button layout-align="center" class="continueButton" type="submit" ng-click="lc.login()">Login</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>