<div ng-include="'views/partials/header.html'"></div>
<h1>Login</h1>

<md-button ng-click="sc.studentService.clearLocalStorage()" ng-href="#/" class="md-raised">
    <md-icon class="material-icons">keyboard_arrow_left</md-icon>Back
</md-button>
<h3 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h3>
<form ng-submit="lc.login()">
    <md-content>
        <div layout="row" layout-align="center center">
            <md-input-container>
                <label>Username</label>
                <input aria-label="username" ng-model="lc.user.username">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container>
                <label>Password</label>
                <input aria-label="password" type="password" ng-model="lc.user.password">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-button layout-align="center" class="md-raised md-primary" type="submit" ng-click="lc.login()">Login</md-button>
        </div>
    </md-content>
</form>