<div id="observationDataEntry">
  <!-- replace deciduoustree below with currentSpecimenQuestions -->
  <form ng-submit="sc.studentService.postAllData()">
    <br>
    <h2>Do you see...</h2>
    <br>
    <div ng-repeat="question in sc.questionsByOrganism[sc.selectedOrganism.selectedOrganism]" class="row" ng-class-odd="'odd'"
      ng-class-even="'even'">
      <div flex layout="row" layout-padding layout-align="start center">
        <h2 ng-if="question.text != 'Notes' " flex style="max-width:300px; max-height: 300px; padding:15px;">{{question.text}}?</h2>
        <md-radio-group flex layout="row" ng-if="question.text != 'Notes' " ng-model="sc.studentService.allData[sc.selectedOrganism.selectedOrganism][sc.studentService.site.site][question.property]">
          <md-radio-button value="yes" flex class="md-primary">Y</md-radio-button>
          <md-radio-button value="no" flex class="md-primary">N</md-radio-button>
          <md-radio-button value="maybe"  flex class="md-primary">?</md-radio-button>
        </md-radio-group>
        <md-input-container ng-if="question.text == 'Notes' " id="textarea">
            <label id="notes">Notes:</label>
            <textarea rows="3" cols="50" ng-model="sc.allData[sc.selectedOrganism.selectedOrganism][sc.studentService.site.site][question.property]"></textarea>
        </md-input-container>
      </div>
    </div>
  </form>
  <md-button ng-click="sc.studentService.resetForm();">Reset</md-button>
  <md-button ng-click="sc.closeDialog()">Save and Close</md-button>
</div>