<div class="staffBody">
    <div ng-include="'views/partials/nav.html'"></div>
    <md-button ng-href="/#dashboard" class="md-raised" layout-align="start start">
        <md-icon class="material-icons">keyboard_arrow_left</md-icon>Back
    </md-button>
    <div layout="column" layout-align="start center">
        <h3 class="md-display-3" style="font-family:Varela;">Register Staff</h3>
        <br>
        <h3 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h3>
        <form ng-submit="lc.registerUser()">
            <md-content>
                <div class="loginContainer" layout="row" layout-align="center center">
                    <md-input-container class="loginInput">
                        <label for "username">Username</label>
                        <input aria-label="username" ng-model="lc.user.username">
                    </md-input-container>
                </div>
                <div class="loginContainer" layout="row" layout-align="center center">
                    <md-input-container class="loginInput">
                        <label for "password">Password</label>
                        <input aria-label="password" type="password" ng-model="lc.user.password">
                    </md-input-container>
                </div>
                <div class="loginContainer" layout="row" layout-align="center center">

                    <md-button aria-label="submit" class="continueButton" type="submit" name="submit">Register</md-button>

                </div>
            </md-content>
        </form>
    </div>
</div>
