<div class="row">
    <md-button>Start New Observation</md-button>
</div>

<div id="dataNavButtons" layout="row">
    <div ng-repeat="(category, arr) in sc.studentDataDisplayService.organisms" layout="row">
        <md-button ng-click="sc.studentDataDisplayService.selectCategory(category)">{{ category }}</md-button>

    </div>
</div>
{{sc.studentDataService.questionsByOrganism}}
selected category: {{sc.studentDataDisplayService.selectedCategory.selectedCategory}}
<div layout="row">
    <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'plants' " ng-repeat="organism in sc.studentDataDisplayService.organisms.plants">
        <md-button ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
    </div>
    <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'mammals' " ng-repeat="organism in sc.studentDataDisplayService.organisms.mammals">
        <md-button ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
    </div>
    <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'birds' " ng-repeat="organism in sc.studentDataDisplayService.organisms.birds">
        <md-button ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
    </div>

</div>


<div>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>Ground Squirrel</th>
                <th></th>
                <th class="speciesNumber">1</th>
                <th></th>
                <th></th>
                <th class="speciesNumber">2</th>
                <th></th>
                <th></th>
                <th class="speciesNumber">3</th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th class="dataTableHeader">Y</th>
                <th class="dataTableHeader">N</th>
                <th class="siteDataBreak dataTableHeader">?</th>
                <th class="dataTableHeader">Y</th>
                <th class="dataTableHeader">N</th>
                <th class="siteDataBreak dataTableHeader">?</th>
                <th class="dataTableHeader">Y</th>
                <th class="dataTableHeader">N</th>
                <th class="dataTableHeader">?</th>
            </tr>
        </thead>

        <!-- question -->
        <!-- '<div ng-repeat="question in sc.studentDataService.questionsByOrganism.questions[sc.studentService.selectedOrganism.selectedOrganism]" class="row" ng-class-odd="\'odd\'"' + -->
        {{sc.studentDataService.questionsByOrganism.questions}}
        <thead ng-repeat="question in sc.studentDataService.questionsByOrganism.questions[sc.studentDataDisplayService.selectedOrganism.selectedOrganism]">
            <!-- site -->
            <tr>

                <td>
{{question}}
                </td>
            </tr>
        </thead>
        <!-- <tbody>
                    <tr>
                        <td>Active Individuals</td>
                        <td>{{dc.ground.data[0].active_individuals_yes}}</td>
                        <td>{{dc.ground.data[0].active_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[0].active_individuals_maybe}}</td>
                        <td>{{dc.ground.data[1].active_individuals_yes}}</td>
                        <td>{{dc.ground.data[1].active_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[1].active_individuals_maybe}}</td>
                        <td>{{dc.ground.data[2].active_individuals_yes}}</td>
                        <td>{{dc.ground.data[2].active_individuals_no}}</td>
                        <td>{{dc.ground.data[2].active_individuals_maybe}}</td>
                    </tr>
                    <tr>
                        <td>Feeding</td>
                        <td>{{dc.ground.data[0].feeding_yes}}</td>
                        <td>{{dc.ground.data[0].feeding_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[0].feeding_maybe}}</td>
                        <td>{{dc.ground.data[1].feeding_yes}}</td>
                        <td>{{dc.ground.data[1].feeding_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[1].feeding_maybe}}</td>
                        <td>{{dc.ground.data[2].feeding_yes}}</td>
                        <td>{{dc.ground.data[2].feeding_no}}</td>
                        <td>{{dc.ground.data[2].feeding_maybe}}</td>
                    </tr>
            
                    <tr>
                        <td>Young Individuals</td>
                        <td>{{dc.ground.data[0].young_individuals_yes}}</td>
                        <td>{{dc.ground.data[0].young_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[0].young_individuals_maybe}}</td>
                        <td>{{dc.ground.data[1].young_individuals_yes}}</td>
                        <td>{{dc.ground.data[1].young_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[1].young_individuals_maybe}}</td>
                        <td>{{dc.ground.data[2].young_individuals_yes}}</td>
                        <td>{{dc.ground.data[2].young_individuals_no}}</td>
                        <td>{{dc.ground.data[2].young_individuals_maybe}}</td>
                    </tr>
            
                    <tr>
                        <td>Dead Individuals</td>
                        <td>{{dc.ground.data[0].dead_individuals_yes}}</td>
                        <td>{{dc.ground.data[0].dead_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[0].dead_individuals_maybe}}</td>
                        <td>{{dc.ground.data[1].dead_individuals_yes}}</td>
                        <td>{{dc.ground.data[1].dead_individuals_no}}</td>
                        <td class="siteDataBreak">{{dc.ground.data[1].dead_individuals_maybe}}</td>
                        <td>{{dc.ground.data[2].dead_individuals_yes}}</td>
                        <td>{{dc.ground.data[2].dead_individuals_no}}</td>
                        <td>{{dc.ground.data[2].dead_individuals_maybe}}</td>
                    </tr>
                </tbody> -->





    </table>

    <md-card class="speciesNotesCard">
        <h3 class="speciesNotesTitle">Notes</h3>
        <ul class="speciesNotesList">
            <li>{{note.notes}}</li>
        </ul>

    </md-card>

</div>