<div class="staffBody" layout="column" layout-align="start center">
    <!-- <md-button class="md-raised" ng-href="#/student">Start New Observation <md-icon class="material-icons">forward</md-icon></md-button> -->

    </br>
    </br>
    </br>
    <div id="dataNavButtons" layout="row" layout-align="center start">
        <div ng-repeat="(category, arr) in sc.studentDataDisplayService.organisms">
            <md-button class="navButton" ng-click="sc.studentDataDisplayService.selectCategory(category)">{{ category }}</md-button>
        </div>
    </div>
    <br>
    <div layout="row" layout-align="center center" layout-wrap>
        <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'plants' " ng-repeat="organism in sc.studentDataDisplayService.organisms.plants">
            <md-button class="navButton2" ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
        </div>
        <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'mammals' " ng-repeat="organism in sc.studentDataDisplayService.organisms.mammals">
            <md-button class="navButton2" ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
        </div>
        <div ng-show="sc.studentDataDisplayService.selectedCategory.selectedCategory == 'birds' " ng-repeat="organism in sc.studentDataDisplayService.organisms.birds">
            <md-button class="navButton2" ng-click="sc.studentDataDisplayService.selectOrganism(organism)">{{ organism.space }}</md-button>
        </div>
    </div>

    <br>

    <div layout="column" layout-align="start center">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" ng-show="sc.studentDataDisplayService.selectedOrganism.space">
            <thead>
                <tr>
                    <th>{{ sc.studentDataDisplayService.selectedOrganism.space }} </th>
                    <th></th>
                    <th class="speciesNumber">1</th>
                    <th></th>
                    <th></th>
                    <th class="speciesNumber">2</th>
                    <th></th>
                    <th></th>
                    <th class="speciesNumber">3</th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th class="dataTableHeader">Y</th>
                    <th class="dataTableHeader">N</th>
                    <th class="siteDataBreak dataTableHeader">?</th>
                    <th class="dataTableHeader">Y</th>
                    <th class="dataTableHeader">N</th>
                    <th class="siteDataBreak dataTableHeader">?</th>
                    <th class="dataTableHeader">Y</th>
                    <th class="dataTableHeader">N</th>
                    <th class="dataTableHeader">?</th>
                </tr>
            </thead>
            <tbody ng-repeat="(question, arr) in sc.studentDataDisplayService.tableRows[sc.studentDataDisplayService.selectedOrganism.underscore]">
                <tr>
                    <td ng-repeat="x in arr track by $index">{{x}}</td>

                </tr>
            </tbody>
        </table>


       
    
        <md-card class="speciesNotesCard" ng-show="sc.studentDataDisplayService.selectedOrganism.space">

            <h3 class="speciesNotesTitle">Notes</h3>
            <div ng-repeat="(organism, arrayOfNotes) in sc.studentDataDisplayService.notes">
                
                <ul class="speciesNotesList" ng-repeat="note in arrayOfNotes track by $index">
                    <li ng-show="organism == sc.studentDataDisplayService.selectedOrganism.underscore">{{ note }}</li>
                </ul>
            </div>
        </md-card>

    </div>

</div>