<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div ng-show="sc.appSetup" class="container">
  <div id="staffLoginLink">
    <md-button class="md-raised" href="/#home">Staff Login</md-button>
  </div>

  <div id="classSelect">
    <p>Select a class to start exploring! Your teacher will tell you your class number</p>
    <form ng-submit="sc.submit()">

      <md-radio-group ng-model="sc.class">
        <md-radio-button value="Class 1">Class 1</md-radio-button>
        <md-radio-button value="Class 2">Class 2</md-radio-button>
        <md-radio-button value="Class 3">Class 3</md-radio-button>
      </md-radio-group>

      <md-button type="ng-submit" class="md-primary md-raised">Done</md-button>

    </form>
  </div>
</div>

<div ng-show="!sc.appSetup" layout="row" layout-align="start start">

  <md-sidenav id="studentNavBar" md-is-locked-open="true" md-component-id="left" class="md-sidenav-left" layout="column" layout-align="start center">
    <p>Type</p>
    <md-button class="typeButton w3-white" ng-click="plant = !plant; mammal = false; bird = false">Plants</md-button>
    <md-button class="typeButton w3-white" ng-click="mammal = !mammal; plant = false; bird = false;
    bur_oak = false; red_oak = false; quaking_aspen = false; common_buckthorn = false; paper_birch = false; common_milkweed = false">
      Mammals</md-button>
    <md-button class="typeButton w3-white" ng-click="bird = !bird; mammal = false; plant = false;
    bur_oak = false; red_oak = false; quaking_aspen = false; common_buckthorn = false; paper_birch = false; common_milkweed = false">
      Birds</md-button>

    <p>Species</p>
    <md-button class="w3-white" ng-show="plant" ng-click="bur_oak = !bur_oak; 
    red_oak = false; quaking_aspen = false; common_buckthorn = false; paper_birch = false; common_milkweed = false">
      Bur Oak</md-button>
    <md-button class="w3-white" ng-show="plant" ng-click="red_oak = !red_oak; 
    bur_oak = false; quaking_aspen = false; common_buckthorn = false; paper_birch = false; common_milkweed = false">
      Red Oak</md-button>
    <md-button class="w3-white" ng-show="plant" ng-click="quaking_aspen = !quaking_aspen; 
    bur_oak = false; red_oak = false; common_buckthorn = false; paper_birch = false; common_milkweed = false">
      Quaking <br>Aspen</md-button>
    <md-button class="w3-white" ng-show="plant" ng-click="common_buckthorn = !common_buckthorn; 
    bur_oak = false; red_oak = false; quaking_aspen = false; paper_birch = false; common_milkweed = false">
      Common <br> Buck- <br>thorn</md-button>
    <md-button class="w3-white" ng-show="plant" ng-click="paper_birch = !paper_birch; 
    bur_oak = false; red_oak = false; quaking_aspen = false; common_buckthorn = false; common_milkweed = false">
      Paper <br> Birch</md-button>
    <md-button class="w3-white" ng-show="plant" ng-click="common_milkweed = !common_milkweed; 
    bur_oak = false; red_oak = false; quaking_aspen = false; common_buckthorn = false; paper_birch = false">
      Common <br> Milkweed</md-button>
    <md-button class="w3-white" ng-show="mammal">Ground <br>Squirrel</md-button>
    <md-button class="w3-white" ng-show="bird">Ruby <br>Throated <br> Humming-<br>bird</md-button>
    <md-button class="w3-white" ng-show="bird">Dark-eyed <br> Junco</md-button>
    <md-button class="w3-white" ng-show="bird">Eastern <br> Bluebird</md-button>




  </md-sidenav>

  <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">
  </md-sidenav>
  <md-content layout="column" layout-align="center center">
    <h2>Belwin Citizen Science</h2>
    <p>Your are in: {{sc.class}}</p>

    <div ng-show="bur_oak" class="speciesView" layout="column" layout-align="center center">
      <h1>Bur Oak</h1>
      <div layout="row" layout-align="center center">
        <md-button>Bur Oak 1</md-button>
        <md-button> Bur Oak 2</md-button>
        <md-button>Bur Oak 3</md-button>
      </div>
    </div>

    <div ng-show="red_oak" class="speciesView" layout="column" layout-align="center center">
      <h1>Red Oak</h1>
      <div layout="row" layout-align="center center">
        <md-button>Red Oak 1</md-button>
        <md-button> Red Oak 2</md-button>
        <md-button>Red Oak 3</md-button>
      </div>
    </div>

    <div ng-show="quaking_aspen" class="speciesView" layout="column" layout-align="center center">
      <h1>Quaking Aspen</h1>
      <div layout="row" layout-align="center center">
        <md-button>Quaking Aspen 1</md-button>
        <md-button>Quaking Aspen 2</md-button>
        <md-button>Quaking Apsen 3</md-button>
      </div>
    </div>

    <div ng-show="common_buckthorn" class="speciesView" layout="column" layout-align="center center">
      <h1>Common Buckthorn</h1>
      <div layout="row" layout-align="center center">
        <md-button>Common Buckthorn 1</md-button>
        <md-button>Common Buckthorn 2</md-button>
        <md-button>Common Buckthorn 3</md-button>
      </div>
    </div>

    <div ng-show="paper_birch" class="speciesView" layout="column" layout-align="center center">
      <h1>Paper Birth</h1>
      <div layout="row" layout-align="center center">
        <md-button>Paper Birth 1</md-button>
        <md-button>Paper Birth 2</md-button>
        <md-button>Paper Birth 3</md-button>
      </div>
    </div>

    <div ng-show="common_milkweed" class="speciesView" layout="column" layout-align="center center">
      <h1>Common Milkweed</h1>
      <div layout="row" layout-align="center center">
        <md-button>Common Milkweed 1</md-button>
        <md-button>Common Milkweed 2</md-button>
        <md-button>Common Milkweed 3</md-button>
      </div>
    </div>




  </md-content>

</div>






<!-- this code for a more dymic nav -->


<!-- <md-button ng-click="sc.openLeftMenu()">
      Open Left Menu
    </md-button> -->

<!-- <md-sidenav md-component-id="right" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-right">
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input id="testInput" type="text" ng-model="data" md-autofocus>
          </md-input-container>
        </form>
      </md-sidenav>
      <md-content>
        <h4>Belwin Citizen Science</h4>
      </md-content> -->