<div ng-include="'views/partials/header.html'"></div>

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Your observations have been successfully submitted</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button id="homeButton" ng-href="#/" ng-click="sc.storage.clear();!sc.studentService.showStartContinue.showStartContinue; sc.studentService.classSelected.classSelected=false" class="md-raised">
            Start A New Observation <md-icon classs="material-icons">forward</md-icon> 
        </md-button>
    </md-card-actions>
</md-card>