<!-- <div ng-include="'views/partials/header.html'"></div> -->

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Your observations have been successfully submitted!</span>
            </br>
            <span class="md-subhead">View your submissions by selecting the organism and species below.</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media">
                <img src="assets/belwin-img-only.png">
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end end">
        <md-button id="homeButton" ng-click="sc.studentService.loadStudentPage();" class="md-raised md-primary">
            Start A New Observation
            <md-icon classs="material-icons">forward</md-icon>
        </md-button>

    </md-card-actions>
</md-card>
<ng-include ng-controller="StudentDataDisplayController as sc" src="'views/templates/student.data.display.html'"></ng-include>