
<div class="staffBody">
<div ng-include="'views/partials/nav.html'"></div>

<md-button ng-href="/#dashboard" class="md-raised">
    <md-icon class="material-icons">keyboard_arrow_left</md-icon>Back
</md-button>
<table>
    <thead>
        <tr>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in uc.StaffService.users">
            <td> {{user.username}} </td>
            <td><md-button ng-click="uc.showConfirm($event, user)">Delete</md-button></td>
        </tr>
    </tbody>
</table>
</div>
